:root {
  /*  --sky-blue: #acedff;
  --sky-blue-dark: #89bbfe;
  --blue-gray: #6f8ab7;
  --blue-green: #615d6c;
  --black: #191919; */
  --dark-blue: #132d5c;
  --gray-blue: #b5c3db;
  --blue: #3e7fbf;
  --light-blue: #5daed9;
  --light-black: #191919;
  --white: #f0f0f0;
  --dark-blue-transparent: #132d5c63;
  --gray-blue-transparent: #b5c3db5d;
  --blue-transparent: #3e7fbf5d;
  --light-blue-transparent: #5daed97e;
  --background-color: var(--sky-blue);
  --primary-color: var(--blue-gray);
  --secondary-color: var(--blue-green);
  --on-background: var(--black);
  --surface-color: var(--blue-transparent);
  --text-color: var(--white);
}

*,
html,
body {
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  background: url("./blue night anime wallpaper.jpg") no-repeat fixed top;
}

h1,
h2,
h3,
p,
a,
div {
  color: var(--text-color);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.4rem;
}

p,
a,
div,
button {
  font-size: 1.6rem;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.container {
  width: 70vw;
  margin: auto;
  max-width: 80rem;
  min-width: 50rem;
}

#page-title {
  text-align: center;
  margin: 2rem auto;
}

.content-box {
  background-color: var(--surface-color);
  border-radius: 2rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 1;
  margin-bottom: 4rem;
}

.img-div {
  border: 1px solid black;
  width: 60%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-top: 4rem;
}

#main-img {
  width: 100%;
  height: auto;
}

#history-img-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hist-img {
  width: 30rem;
  height: auto;
  display: inline-block;
  padding: 4px;
  border: 3px solid var(--blue);
  border-radius: 2rem;
  margin: 1rem;
}

.select-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select {
  padding: 1rem 2rem;
  margin: 0 0.1rem;
  background-color: var(--gray-blue);
  color: var(--dark-blue);
}

.select:hover {
  cursor: pointer;
  background-color: var(--light-blue);
}

.selected {
  background-color: var(--dark-blue);
  color: var(--gray-blue);
}

.actions-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

#roll-button {
  font-size: 4rem;
  background-color: red;
  height: calc(9rem - 8px);
  width: calc(17rem - 8px);
  margin: 2rem;
  border-radius: 2rem;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border: 4px solid red;
  position: absolute;
  top: -2rem;
  right: -2rem;
}

@media screen and (max-width: 900px) {
  #roll-button {
    width: 30%;
  }
}

#roll-button:hover {
  cursor: pointer;
  background-color: var(--white);
  color: red;
  border: 4px solid var(--dark-blue);
}
#roll-button:active {
  cursor: pointer;
  background-color: var(--white);
  color: red;
  border: 15px solid var(--dark-blue);
}

#history-button {
  padding: 1rem 2rem;
  margin: 4rem 0 0 0;
  background-color: var(--gray-blue);
  color: var(--dark-blue);
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#history-button:hover {
  cursor: pointer;
  background-color: var(--light-blue);
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-bottom: 6rem;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
#close-modal-button {
  color: #aaaaaa;
  float: right;
  font-size: 3rem;
  font-weight: bold;
}

#close-modal-button:hover,
#close-modal-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#roll-history-heading {
  color: black;
}
/*# sourceMappingURL=styles.css.map */
